@charset "utf-8";
.P03_T02_S01 .board, 
.P03_T02_S01 .title_board, 
.P03_T02_S01 .txt_left, 
.P03_T02_S01 .txt_legend, 
.P03_T02_S01 .claim_board {
	position: absolute;
	left: 20px;
}
.P03_T02_S01 i {
	font-family: 'tradegothicltstd_obl';
}
.P03_T02_S01 .title_board {
	font-family: 'tradegothicltstd_bd2';
	color: white;
	font-size: 18px;
	width: 776px;
	height: 64px;
	top: 17px;
	left: 11px;
	text-align: center;
}
.P03_T02_S01 .board {
	background: url(../images/board.png) no-repeat;
	width: 807px;
	height: 550px;
	top: 53px;
	left: 108px;
}
.P03_T02_S01 .txt_left {
	-webkit-transform: rotate(-90deg);
	height: 45px;
	top: 211px;
	left: -65px;
	text-align: center;
	font-size: 18px;
}
.P03_T02_S01 .chart_desc {
	font-size: 21px;
	top: 108px;
	left: 592px;
	color: #393939;
	line-height: 28px;
}
.P03_T02_S01 .chart_desc span {
	font-size: 35px;
	color: #C41431;
}
.P03_T02_S01 .flyer {
	position: absolute;
}
.P03_T02_S01 .claim_board {
	font-size: 16px;
	font-family: 'tradegothicltstd_bd2';
	width: 490px;
	height: 28px;
	top: 395px;
	left: 131px;
}
.P03_T02_S01 .txt_legend {
	font-size: 12px;
	font-family: 'tradegothicltstd';
	width: 637px;
	height: 10px;
	top: 431px;
	left: 92px;
}
.P03_T02_S01 .txt_legend i {
	font-family: 'tradegothicltstd_obl';
}
.P03_T02_S01 .btn_plus {
	top: 461px;
	left: 926px;
}
.P03_T02_S01 .claim_2line {
	left: 112px;
	width: 800px;
	font-size: 24px;
}
.P03_T02_S01 .chart_red {
	display: none;
	background: url(../images/chart_red.png) no-repeat;
	width: 494px;
	height: 195px;
	top: 105px;
	left: 165px;
	z-index: 10;
	position: absolute;
}
.P03_T02_S01 .bg_methodology {
	display: none;
}
.P03_T02_S01 .content {
	margin: 40px 20px 10px !important;
}
.P03_T02_S01 .ref1_pu {
	font-family: 'tradegothicltstd_bd2';
	position: absolute;
	width: 875px;
	height: 100px;
	top: 113px;
	left: 57px;
	font-size: 28px;
}
.P03_T02_S01 .par_pu {
	font-family: 'tradegothicltstd_bd2';
	font-size: 25px;
	position: absolute;
	top: 190px;
	left: 16px;
	width: 800px;
}
.P03_T02_S01 .par_pu ul li {
	background: url(../images/red_bullet.png) no-repeat;
	padding: 0px 0px 38px 40px;
	list-style-type: none;
}
