.demoSGK_01 div {
    position: absolute;
}

.demoSGK_01 .title02 {
    color: #002570;
    font-size: 46px;
    top: 44px;
    left: 85px;
}

.demoSGK_01 .box {
    background: url(../images/box.png) no-repeat;
    width: 544px;
    height: 302px;
    top: 163px;
    left: 364px;
    background-size: 100% 100%;
}

.demoSGK_01 .txt_box {
    color: #002570;
    font-size: 37px;
    top: 44px;
    left: 143px;
}

.demoSGK_01 .round {
    background: url(../images/round.png) no-repeat;
    width: 311px;
    height: 311px;
    top: 159px;
    left: 134px;
    background-size: 100% 100%;
}

.demoSGK_01 .round_active {
    background: url(../images/round_active.png) no-repeat 0 0;
    background-size: 100% 100%;
    width: 332px;
    height: 332px;
    top: 149px;
    left: 124px;
}



.demoSGK_01 .rectangle {
    background: url(../images/rectangle.png) no-repeat;
    width: 529px;
    height: 103px;
    top: 490px;
    left: 293px;
    background-size: 100% 100%;
}

.demoSGK_01 .traiter {
    color: white;
    font-size: 42px;
    top: 24px;
    left: 33px;
}

.demoSGK_01 .traiter_right {
    color: white;
    font-size: 24px;
    top: 20px;
    left: 188px;
    text-align: center;
}
/* popup content */

.demoSGK_01 .popup {
    display: none;
}

.demoSGK_01 .sleep {
    background: url(../images/sleep.png) no-repeat;
    width: 899px;
    height: 193px;
    top: 0px;
    right: 0px;
    background-size: 100% 100%;
}

.demoSGK_01 .col1 {
    width: 332px;
    height: 578px;
    top: 0px;
    left: 0px;
}

.demoSGK_01 .col2 {
    background: rgba(255,255,255,0.3);
    width: 300px;
    height: 578px;
    top: 0px;
    left: 332px;
}

.demoSGK_01 .col3 {
    width: 282px;
    height: 578px;
    top: 0px;
    left: 634px;
}

.demoSGK_01 .per {
    top: 213px;
    font-size: 80px;
    color: #106aa9;
    -webkit-text-stroke: 2px #fff;
    text-shadow: 2px 1px 4px #999;
}

.demoSGK_01 .perCol1 {
    left: 91px;
}

.demoSGK_01 .perCol2 {
    left: 57px;
}

.demoSGK_01 .perCol3 {
    left: 49px;
}


.demoSGK_01 .txtCol {
    top: 324px;
    font-size: 27px;
    color: #002570;
}

.demoSGK_01 .txtCol1 {
    left: 80px;
}

.demoSGK_01 .txtCol2 {
    left: 24px;
}

.demoSGK_01 .txtCol3 {
    left: 24px;
}


.demoSGK_01 #circle
{
	position:absolute;
    left: 125px;
    top: 147px;	
	width:330px;
	height:330px;	
	background:url("../images/round_1.png") no-repeat;
}