.P03_T01_S01 .btn_hand {
	top: 489px;
	left: 901px;
}
.P03_T01_S01 .bg {
	background: url(../images/bg.jpg) no-repeat;
	width: 1024px;
	height: 768px;
	position: absolute;
}
.P03_T01_S01 .claim_2line {
	font-size: 29px;
	top: 592px;
}
.P03_T01_S01 .bg .vessel_animate {
	background: url(../images/vessel_animate.png) no-repeat;
	width: 241px;
	height: 244px;
	position: absolute;
	top: 212px;
	left: -51px;
	display: none;
}
.P03_T01_S01 .bg .dash_white_circle {
	background: url(../images/dash_white_circle.png) no-repeat;
	width: 288px;
	height: 288px;
	position: absolute;
	top: 137px;
	left: 140px;
	z-index: 2;
	display: none;
}
.P03_T01_S01 .bg .mask {
	background: url(../images/mask.png) no-repeat;
	width: 273px;
	height: 263px;
	position: absolute;
	opacity: 1;
	top: 133px;
	left: 144px;
	z-index: 3;
	display: none;
}
@-webkit-keyframes spin {
 from {
 -webkit-transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg);
}
}
.P03_T01_S01 .bg .animation {
	-webkit-animation-name: spin;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: 35s;
}
/*main_container ---*/
.P03_T01_S01 .text_main {
	font-family: 'tradegothicltstd_cn18';
	color: white;
	position: absolute;
	left: 466px;
	visibility: hidden;
	z-index: 5;
}
.P03_T01_S01 .row1, 
.P03_T01_S01 .row2 span, 
.P03_T01_S01 .row4, 
.P03_T01_S01 .row5 span {
	font-family: 'tradegothicltstd_bdcn20';
}
.P03_T01_S01 .row1 {
	font-size: 27px;
	top: 140px;
}
.P03_T01_S01 .row2 {
	font-size: 20px;
	top: 190px;
	position: absolute;
	width: 390px;
}
.P03_T01_S01 .row2 .row2_1 {
	font-size: 40px;
	font-family: 'tradegothicltstd_cn18';
}
.P03_T01_S01 .row2 span.row2_2 {
	font-size: 50px;
	font-family: 'tradegothicltstd_bdcn20';
	top: -8px;
	left: 396px;
	position: absolute;
}
.P03_T01_S01 .row3 {
	font-size: 40px;
	top: 255px;
}
.P03_T01_S01 .row4 {
	font-size: 50px;
	top: 248px;
	left: 590px;
}
.P03_T01_S01 .row5 {
	font-size: 20px;
	top: 305px;
}
.P03_T01_S01 .row5_1,
.P03_T01_S01 .row5a,
.P03_T01_S01 .row5_1a {
	font-size: 40px !important;
	font-family: 'tradegothicltstd_cn18' !important;
}
.P03_T01_S01 .row5_1 {
	left: 75px !important;
	top: 11px !important;
}
.P03_T01_S01 .row5_1a {
	left: 166px !important;
	top: 11px !important;
	font-size: 20px !important;
}
.P03_T01_S01 .row5a {
	left: 410px !important;
	top: -50px !important;
}
.P03_T01_S01 .row5 span {
	font-size: 50px;
	top: 3px;
	left: 0px;
	position: absolute;
}
.P03_T01_S01 .subtext {
	font-size: 18px;
	top: 410px;
	position: absolute;
	display: none;
}
.P03_T01_S01 .shadow {
	background: url(../images/shadow.png) no-repeat;
	position: absolute;
	width: 556px;
	height: 233px;
	display: none;
	z-index: 2;
	top: 130px;
	left: 456px;
}
.P03_T01_S01 .bg .vessel_bg {
	background: url(../images/vessel.png) no-repeat;
	width: 431px;
	height: 421px;
	left: -6px;
	top: 0px;
	position: absolute;
	-webkit-transform: scale(0.06) translate(1101px, 5175px);
	-webkit-transform-origin: left top;
	display: none;
}
.P03_T01_S01 .typer {
	display: none;
}
