<div class="siPresentationClip"></div>
<div class="siPresentationList">
	<popover>
				<div class="header"><h3></h3></div>
				<div class="section">
					<div class="popover-content">
						<ul> 
							<%for(var i = 0; i < presentations.length ; i++){%>
							<li class="siPresentationLink presentation<%= presentations[i].id %> presentation <%=presentations[i].id==current_presentation.id?'active':''%>" <%= presentations[i] %>>
							    <span class="title"><%= presentations[i].name %></span>
							    <span class="checkmark"></span>
							</li>
							<%}%>
								
						</ul>
					</div>
				</div>
	</popover>
</div>